<template>
  <div class="my-multiselect" @click="toggleVisible">
    <input v-model="query" type="text">
    <div v-for="(option,i) in formattedOption" v-show="option.checked" :key="i" class="my-multiselect_selected">
      {{ option[displayProperty] }}
      <span class="my-multiselect_remove" @click="removeClick(i)"> &times;</span>
    </div>

    <div v-if="!queryZero" v-show="visible" class="my-multiselect_options">
      <p v-if="notFound" class="notfound">
        Not Found
      </p>
      <option
        v-for="(match, index) in matches"
        :key="index"
        class="my-multiselect_option"
        :class="{ 'selected': (selected == index)}"
        @click="handleOptionClick(index)"
        v-text="match[displayProperty]"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    options: {
      type: Array,
      default: () => []
    },
    value: {
      type: Array,
      default: () => []
    },
    displayProperty: {
      type: String,
      default: 'name'
    },
    valueProperty: {
      type: String,
      default: 'value'
    }
  },
  data () {
    return {
      query: '',
      filtered: [],
      selected: 0,
      visible: false
    }
  },
  computed: {
    formattedOption () {
      const fo = this.options.map((option) => {
        const checked = this.value.includes(option[this.valueProperty])
        return { ...option, checked }
      })
      return fo
    },
    matches () {
      this.$emit('change', this.query)

      if (this.query === '') {
        return []
      }

      return this.options.filter(item => item[this.displayProperty].toLowerCase().includes(this.query.toLowerCase()))
    },
    notFound () {
      if (this.matches.length === 0) {
        return true
      } else { return false }
    },
    queryZero () {
      if (this.query === '' && this.matches.length === 0) {
        return true
      } else { return false }
    }
  },
  methods: {
    handleOptionClick (i) {
      this.filtered = this.matches
      const clickedValue = this.filtered[i][this.valueProperty]
      const newValue = [...this.value]
      const existValue = this.value.findIndex(v => v === clickedValue)

      if (existValue === -1) {
        newValue.push(clickedValue)
      }

      this.$emit('input', newValue)
    },
    removeClick (i) {
      const clickedValue = this.options[i][this.valueProperty]
      const newValue = [...this.value]
      const existValue = this.value.findIndex(v => v === clickedValue)

      if (existValue === -1) {
        newValue.push(clickedValue)
      } else {
        newValue.splice(existValue, 1)
      }

      this.$emit('input', newValue)
    },
    toggleVisible () {
      this.visible = !this.visible
    }
  }
}
</script>

<style>
.my-multiselect{
  background: white;
  padding: 6px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  min-height: 33px;
  min-width: 222px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.my-multiselect:focus {
  outline: none;
}

.my-multiselect_selected {
  border: 1px solid #d4d4d4;
  background-color: #f1f0f0;
  padding: 4px 8px;
  padding-right: 0;
  margin: 3px;
}

.my-multiselect_remove {
  margin: 4px;
  padding: 0px 2px;
  border: 1px solid grey;
  background-color: gray;
  color: white;
}

.my-multiselect_remove:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border: 1px solid red;
}

.my-multiselect_option:hover {
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: #a80303;
}

.my-multiselect_options {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  display: flex;
  background: white;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  padding: 5px 0;
  min-height: 55px;
  max-height: 188px;
  overflow-y: auto;
}

.my-multiselect_option {
  padding: 6px 0px;
  cursor: pointer;
  align-items: center;
}

.my-multiselect_option--checked {
  color: rgb(255, 255, 255);
  background-color: #4a2aff;
  font-weight: bold;
}

.notfound {
  text-align: center;
}

</style>
