<template>
  <div class="switch">
    <h1>Multiselect</h1>
    <div class="demo">
      <div class="demo_left">
        <label>country</label>
        <multi-select v-model="selectedContries" :options="countries" display-property="country" value-property="country" />
      </div>
    </div>
  </div>
</template>

<script>
import MultiSelect from '../components/MultiSelect.vue'

export default {
  components: { MultiSelect },
  data () {
    return {
      countries: [],
      selectedContries: []
    }
  },
  async fetch () {
    this.countries = await fetch(
      'https://api.first.org/data/v1/countries?q=in/'
    ).then(res => res.json()
    ).then(res => Object.values(res.data))
  }
}
</script>

<style>
p,
label {
  margin: 11px 0;
}
.demo {
  display: flex;
  margin-bottom: 55px;
}

.demo_left {
  padding-right: 22px;
}

</style>
